[2016-03-07 04:10] matschaffer opened #1 "Dump readable values to stdout"
I noticed that the `-dump` option provides values as base64 encoded.

Would be possible/preferable to display them as straight strings in the dump output?

[2016-03-07 04:17] leprechau commented on #1
The -dump option simply returns the raw decrypted/decompressed output from the Consul API.  It is just an easy way to "view" your backup files.

-- Aaron

[2016-03-07 05:28] matschaffer commented on #1
For sure. My thinking was that if we had multiple backup files it could be useful to see the full set of keys & values to confirm we're reloading the best possible backup. For the time being I came up with this:

[code]

But it's pretty roundabout compared with what I'm guessing it'd take to have the dump code show decoded values.

Maybe `-dump -decode` would be better?

[2016-03-07 16:28] leprechau commented on #1
Got it.  So instead of just decoding would you actually prefer a "human readable" output?  Maybe something in ascii table format?

[2016-03-07 19:23] matschaffer commented on #1
That sounds like a cool idea. I haven't put much time into brainstorming
formats but so long as it's diffable it should be good.

On Tuesday, 8 March 2016, Aaron Hurt <notifications@github.com> wrote:

--

-Mat

matschaffer.com

[2016-03-08 00:36] #1 closed

[2016-03-08 00:39] leprechau commented on #1
I couldn't think of a nice way to use a table or other format with all the possible options for a data payload in a KV store.  I settled on just a very simple output format ...

[code]

This should be greppable/diffable and give you approximately what you wanted.

[2016-03-08 20:46] matschaffer commented on #1
Looks fantastic. Thanks!

[2016-03-11 00:22] mg03 opened #2 "vault info in consul"
im using consul as a backend to store vault info.

all information in consul is stores under the vault/ tree in encrypted format.

1) We have keys with acls on them, Does your tool need the management acl in order to traverse and backup the key/values?
2) Will your tool support taking backup of encrypted values under the vault/ tree?
    Will the values be backed up in encrypted format?  If yes, o

[2016-03-11 00:33] leprechau commented on #2
I'm not very familiar with Vault and have not used it myself but this tool does support consul ACL tokens which can be passed via the ```-token``` flag.  The data will be backed up and restored exactly as it appears in consul. The tool will not alter or modify your data in any way between backup and restore other than optional path transformations with the ```-transform``` flag.

[2016-03-12 03:32] leprechau commented on #2
Did that answer your questions?

[2016-03-15 16:37] mg03 commented on #2
HI

I think so, ill try it out and let you know

regards

[2016-05-09 09:36] vkhatri opened #3 "transform does not match absolute key path"
Hello! This tool has saved me a lot of overhead, thank you for sharing this amazing tool.

I am having an issue with `transform`.

Currently `transform` matches the pattern anywhere in the path, e.g. --transform foo/x/y,foo/x/z will transform below mentioned key path:
[code]
But, i only intend to transform the `foo/x/y` to `foo/x/z` (which matches absolute path from left to right).

I know i can t

[2016-05-09 09:43] vkhatri opened #4 "allow transform to match absolute key path from left to right"
Hi! This is relevant to #3

By default, transform matches oldkey anywhere in the consul kv.

It would be great to have another option or similar (e.g. -tranform-mode=absolute|regex) to perform an absolute left to right match on the kv.

e.g.
[code]

[code]

[2016-05-09 09:46] vkhatri opened #5 "restore with prefix option gives misleading result"
Hello! I know as per help menu, option `prefix` is intended only for `backup` operation. But, when used with `restore`, the result is misleading.
[code]

As shown above, restore result indicated restore of 1 Key to `foo/x/z`. But, nothing was restored. As you can see i tried to backup `foo/x/z` and there is nothing to backup. I can confirm there is no key `foo/x/z`.

I think `prefix` option should

[2016-05-09 14:22] #2 closed

[2016-05-09 14:51] leprechau commented on #5
Right, the prefix option only affects backup and not restore.  The equivalent restore option would be the transform.  This is mainly due to the parameters accepted by the upstream consul golang api package.

I have two thoughts here:

1. Add option checking to the backup/restore parts to ensure they are valid as you suggested
2. Redo the command handling so that backup and restore are actually sub

[2016-05-09 14:59] leprechau commented on #3
The path transformation is actually just an implementation of ```strings.Replacer``` which takes value pairs as input.  So you can actually specify multiple transforms with one option ```--transform="foo/x/y,foo/x/z,bar/x/y,bar/x/z"```

I'll update the documentation to be more explicitly state that the transform option operates/matches anywhere within the path.  To your specific use case you can a

[2016-05-09 15:01] leprechau commented on #4
As I said in #3 the current path transformations are just string based and are not actually regex or path aware.  I'll leave this open though and mark it as a possible future feature enhancement.

[2016-05-09 22:23] leprechau commented on #5
I've pushed some new commits to master that break out the various operations into sub commands. There are now three different modes of operation (backup, restore, dump) that each have their own flag sets.  Hopefully this prevents confusion in the future.

[2016-05-09 22:23] #5 closed

[2016-05-11 15:35] #3 closed

[2016-05-11 15:45] leprechau commented on #4
Closing this issue.  There isn't really a need for different transformation modes.  If you want to perform a more restricted/absolute path transformation you should just be more explicit in what you pass to the transform option.  The documentation has been updated to make this more explicit.

[2016-05-11 15:45] #4 closed

[2016-07-08 00:44] leprechau commented on #1
Hey,
Did you hear the latest news? You should definetely read more info here <http://phunadyci.nathansrealty.com/aeitjl>

Good wishes, 6155945334@mms.att.net

[2016-08-22 15:48] mg03 opened #6 "consul acls backup"
Is there a way to backup all the acls in a consul cluster?

[2016-08-22 23:50] leprechau commented on #6
This isn't currently supported but would be fairly trivial to implement.  Would this be something you would want to do separately from the KV data?

[2016-08-23 01:20] #6 closed

[2016-08-23 01:20] leprechau commented on #6
Please see the updated documentation and let me know if this satisfies your requirements.

[2016-09-20 19:59] hekaldama opened #10 "Consider automated docker hub builds"
Since we have docker integration now, please consider integration with https://docs.docker.com/docker-hub/builds/ to make it helpful for people to use this utility.

[2016-09-20 20:00] hekaldama opened #11 "Do you want docker use case .md file?"
Since I requested the docker integration, would you like some use case docs to link to?

[2016-09-20 20:06] leprechau commented on #11
Sure, that would be great.

[2016-09-20 20:06] leprechau commented on #10
I'll take a look.

[2016-09-20 20:20] hekaldama commented on #11
#12

[2016-09-20 20:56] #11 closed

[2016-09-20 20:56] hekaldama commented on #11
See https://github.com/myENA/consul-backinator/blob/master/DOCKER.md

[2016-10-07 19:10] vijaybandari opened #14 "debugging backup?"
I can see data in my consul through http api but this tool returns with 0 keys.
How do I debug the issue?
[code]

[2016-10-07 19:18] leprechau commented on #14
I haven't seen that issue before.  Let me setup some test cases here locally and see if I can reproduce the issue.

[2016-10-07 19:30] leprechau commented on #14
@vijaybandari could you please provide your consul agent configuration?

[2016-10-07 19:37] vijaybandari commented on #14
@leprechau
Here is my consul configuration:
[code]

[2016-10-07 20:06] leprechau commented on #14
Could you also see what a call here returns ...
```http://171.10.50.4:8500/v1/kv/?recurse&token=access_token```

[2016-10-07 20:14] vijaybandari commented on #14
@leprechau I didn't get you. Something missing in your previous comment?

[2016-10-07 20:15] leprechau commented on #14
I think I see the issue ... the ```backup``` command doesn't seem to be passing the ```token``` value to the recursive kv call.

[code]

[2016-10-07 21:00] leprechau commented on #14
@vijaybandari This appears to be a bug in the upstream ```consul/api``` package.  The below test code has the same problem:

[code]

I'm going to file a bug with the ```consul``` project.

[2016-10-07 21:06] leprechau commented on #14
I've filed https://github.com/hashicorp/consul/issues/2403 ... I'll update this as soon as I hear back from the upstream package.

[2016-10-07 21:20] vijaybandari commented on #14
Thanks @leprechau

[2016-10-07 22:05] #14 closed

[2016-10-07 22:07] leprechau commented on #14
Please test the latest master if you can.  I'll publish a new release if this resolves your issue.  I've rolled back the upstream API to the 0.6.4 version.

[2016-10-10 18:20] vijaybandari commented on #14
Thank @leprechau quick response. v 1.3 works fine 👍

[2016-10-11 18:56] vijaybandari opened #15 "add -skip-tls option to disable tls host verification (useful for self signed certs)"
Consul api does provides this option through [TLSConfig](https://github.com/hashicorp/consul/blob/master/api/api.go#L132).

[2016-10-12 02:39] leprechau commented on #15
This can be accomplished currently by using the same method as the actual consul agent since it uses the same underlying API library.  It respects all the same environment variables including ```CONSUL_HTTP_SSL_VERIFY``` that can be set to false to skip certificate verification.

__Example__
[code]

[2016-10-12 21:46] leprechau commented on #15
@vijaybandari did that work for you?

[2016-10-13 01:56] leprechau commented on #15
Closing this as it should be resolved with either the environment variable of the fixes in #16 and #18

[2016-10-13 01:56] #15 closed

[2016-10-13 17:26] vijaybandari commented on #15
Yeah, it worked.

[2016-10-20 12:48] samber opened #19 "S3 Upload"
Hi guys !

What about a parameter uploading to/restoring from AWS S3, instead of `-file` ?

[2016-10-21 12:15] samber opened #20 "KV restore"
Hi guys,

What about a copy-before-delete feature that would move KV under a `restore.bak/` prefix, prior to restore data ?!

[2016-11-01 22:55] leprechau commented on #19
I can definitely see the benefit there.  I'll give it a look in the next few days.

[2016-11-01 22:57] leprechau commented on #20
The restore doesn't actually delete currently unless you explicitly tell it to clear the tree before restoring.  It will however happily replace any existing keys.  I'm not sure adding a loop to move keys around inside the KV store is a valid solution to what should just be a CYA process from the admin (backup before you restore).

[2016-11-02 15:16] samber commented on #19
Thanks a lot @leprechau ! :+1:

[2016-11-07 18:56] leprechau commented on #19
@samber Testing this locally and I had a question ... Would you like to directly push the blobs to S3 or have it generate the local file and then push that to S3 afterwards?

[2016-11-08 09:30] samber commented on #19
I've heard some people having more than 1Go of KV in consul, so pushing directly would be awesome !
Unfortunately, if it requires encryption, you will not be able to stream data into s3, because we have to put the whole KV store in a -very large- buffer.
I think storing data in a file would be the best solution.

I think we can use some ```-s3-region -s3-path -aws-access-key -aws-secret-key``` fla

[2016-11-08 20:25] leprechau commented on #19
I've seen a few places that are using URIs to capture all of the S3 data in combination with environment variables.  Since we are already allowing plenty of environment variables for the Consul portions I like the idea of expanding that to S3 as well.  This is my current implementation locally:

Everything in the URI...
[code]

A simple URI with exports...
[code]

This only adds a single option to

[2016-11-08 22:23] leprechau commented on #19
I changed my mind about the previous post.  I've actually not added any options but instead used the existing ```-file``` option to specify either a local file OR a remote S3 location.

With CONSUL_HTTP_ADDR, AWS_ACCESS_KEY_ID, AWS_SECRET_ACCESS_KEY and AWS_REGION exported ...
[code]

[code]

[2016-11-08 22:46] leprechau commented on #19
@samber The working code is committed to master.  Please test it and let me know what you think.

[2016-11-08 23:10] leprechau commented on #20
Closing this PR as I don't currently see a need to implement this as an automated process.  Please re-open if you really think it's needed.

[2016-11-08 23:10] #20 closed

[2016-11-10 06:30] #10 closed

[2016-11-10 12:56] samber commented on #19
Ok :+1:

I agree with everything. Thanks for this feature ! ;-)

[2016-11-10 12:57] #19 closed

[2016-11-10 15:52] leprechau commented on #19
Awesome, think I'll push a new release that contains these changes and the TLS customizations from #16 and #18

[2016-11-22 16:52] kostyrevaa opened #21 "Add file to releases page with SHA256 sums"
to give users an extra sense of security that they have a real, untampered-with download.
Example: See the consul_0.6.4_SHA256SUMS file at https://releases.hashicorp.com/consul/0.6.4/
Would be great if you sign the file with a GPG key -- e.g.: consul_0.6.4_SHA256SUMS.sig

[2016-12-05 16:39] patcable opened #22 "TLS Verification with consul-backinator"
Hi there,

I'm running into a TLS verification error using consul-backinator. When I run the following (with and without `-tls-skip-verify`):
[code]

What's interesting is that when I run:
[code]

Additionally, when I run `openssl s_client` I do get "Verify return code: 0 (ok)." I feel like the `-ca-path` variable is being ignored, because if I leave the `-CAfile` option off openssl, I do get veri

[2016-12-06 03:18] leprechau commented on #22
@patcable Could you verify your certificates for me and make sure they are set for both `serverAuth` and `clientAuth` ... I'm not able to reproduce this locally.

Using latest release version ...
[code]

Skipping verification with no cert passed ...
[code]

Passing a cert without skipping verification ...
[code]

No skip and no cert ...
[code]

[2016-12-06 03:19] leprechau commented on #22
I used the following guide referenced from the Consul docks to test the setup ...

http://russellsimpkins.blogspot.com/2015/10/consul-adding-tls-using-self-signed.html

[2016-12-12 20:39] leprechau commented on #22
Closing due to inactivity and inability to reproduce the reported issue.  Please re-open if you're still experiencing issues with this feature.

[2016-12-12 20:39] #22 closed

[2017-01-03 10:04] shamil opened #23 "[Feature] Add support for IAM instance profile"
Hi,

Thanks for the tool.
I've a feature request for S3 backup. Currently the S3 backup works by specifying AWS access/secret keys. Is it possible to add a feature that uses IAM instance profile where possible?

[2017-02-16 22:11] mg03 opened #24 "backup works with 1.0 but fails with 1.4"
HI

Cuurently using 1.0 version

consul-backinator backup file=/tmp/bkupfile prefix=/
2017/02/16 22:09:39 [Success] Backed up 0 keys from / to consul.bak
Keep your backup (consul.bak) and signature (consul.bak.sig) files in a safe place.
You will need both to restore your data.

Trying to use 1.4 version

./consul-backinator-1.4 backup file=/tmp/bkupfile prefix=/
2017/02/16 22:04:43 [Error] Failed

[2017-02-16 22:45] leprechau commented on #24
That command is actually working the same in both versions .... later versions consider an empty list of keys to be an error.  If you try the same commands against a cluster with at least one key/value pair present it should work.

[2017-02-16 22:46] leprechau commented on #23
@shamil Sorry for the really late reply.  I'll need to dig into IAM a bit as I'm honestly not that familiar with how it works.  I'll mark this as a feature request though and keep it open.

[2017-02-16 22:47] leprechau commented on #21
I'll add that to the packaging script and push it with the next release.

[2017-02-17 03:18] leprechau commented on #24
The code generating that error resides in [backup.go](https://github.com/myENA/consul-backinator/blob/master/backup/backup.go#L37) on line 37 where it checks the length of the returned keys.

[2017-02-17 04:02] leprechau commented on #23
@shamil I did some research and the library I'm currently using to provide S3 access doesn't appear to support IAM profiles.  I selected the (minio-go)[https://github.com/minio/minio-go] library for it's compact size and clean interface ... I'd be more than happy to review pull requests that used an alternative library though if this is an important feature for you.

[2017-02-17 04:53] #21 closed

[2017-02-18 01:21] mg03 commented on #24
@leprechau : I am running thr 1.0 and the 1.4 versions against the same cluster. The 1.0 version finds and backups the kvs but the 1.4 version does not seem to find the kvs.

[2017-02-18 01:22] leprechau commented on #24
Your post above with the 1.0 output says it backed up 0 keys ... that's not really a success since it didn't really do anything.  That's why an empty key list was changed to an error in later versions.

[2017-02-18 04:27] mg03 commented on #24
ok, so here is the thing, if I provide a token it works.

I was under the impression that if no token is provided, it will use the local agents token.
The godoc for consul api https://godoc.org/github.com/hashicorp/consul/api#Config states that the Token is used to override the agents default token
 Is this not the case?

[2017-02-18 05:24] leprechau commented on #24
Are you using ACLs?  If you are using ACLs you will absolutely need to pass an access token to get access to the key list.  You also won't be able to use the 1.0 version of the client against 0.7.0+ or newer consul clusters because they changed how the ACL token is passed.

If you are running a version of consul older than 0.7.0 with ACLs you will need to use consul-backinator 1.3 or older.

If yo

[2017-02-22 19:35] mg03 commented on #24
its working ... thanx for your help .. good tool, ive been using it since 1.0-dev version 👍

[2017-02-22 19:36] leprechau commented on #24
@mg03 great, let me know if you need anything else.

[2017-02-22 19:36] #24 closed

[2017-04-26 03:41] leprechau commented on #23
@shamil @baptiste-ls I pushed a new commit to master that uses the official AWS SDK instead of the minio client.  This should enable all AWS/S3 features including IAM profiles.  Would appreciate any testing or feedback you could offer.

[2017-05-01 20:22] leprechau commented on #23
Closing and considering this feature request complete.

[2017-05-01 20:22] #23 closed

[2017-06-05 16:15] mickengland opened #27 "Allow use of AWS IAM roles"
I am setting up backups from a Jenkins instance in EC2 that has an associated role allowing it to write to the consul-backups S3 bucket. I would like to have consul-backinator use the role rather than asking for credentials.

[2017-06-05 17:32] leprechau commented on #27
@mickengland The latest release is using the official AWS SDK and should support IAM profiles.  How are you executing consul-backinator?

[2017-06-05 17:39] leprechau commented on #27
In theory using the official `aws-sdk-go` package should make `consul-backinator` behave very similar to the AWS CLI as documented here: http://docs.aws.amazon.com/cli/latest/topic/config-vars.html

Have you tried setting the `AWS_PROFILE` environment variable?

[2017-06-05 20:41] mickengland commented on #27
I believe AWS_PROFILE is used for pointing to a specific profile in .aws/config and .aws/credentials. I am wanting to use IAM Roles assigned to an EC2 instance not profile credentials. I can use the AWS Cli with no credentials on the instance at all. I am currently doing a local backup and then an aws s3 sync which works with no credentials. I would like to be able to just run something like this:

[2017-06-05 21:27] leprechau commented on #27
I see, I was assuming that the session mechanism of the official API looked for the IAM information by default.  However, from your testing that does not seem to be the case.

I'll need to look around for documentation and/or examples on using/defaulting to IAM credentials if available from within the `aws-sdk-go` packages.

[2017-06-09 18:26] leprechau commented on #27
@mickengland sorry for the delay in testing but this works just as you described in my test ec2 instance:

[code]

[2017-06-12 14:17] leprechau commented on #27
@mickengland just checking in to see if you are still having this issue?

[2017-06-12 14:23] mickengland commented on #27
Thanks. I will test this again today and let you know.

[2017-06-12 14:29] leprechau commented on #27
I was just using the latest release version 1.6 code in my test.  I'm also thinking about removing the requirement to pass the region.   Forcing the region to be passed doesn't make much sense in the case of AWS+IAM and any other endpoint should complain if it can't determine the final destination.

[2017-06-12 14:35] mickengland commented on #27
Hmm this is still not working for me with version 1.6 and an IAM role that allows write access to my bucket. The aws s3 cp command is working fine but backinator gives:

[Error] Failed to dump data: AccessDenied: Access Denied
I am working round this by doing a local backup and the using the cli to push to S3.

[2017-06-12 14:37] leprechau commented on #27
I think this is a permission issue ... would you mind pasting your IAM profile?  In testing I was using this ...

[code]

[2017-06-12 14:41] leprechau commented on #27
That error `Failed to dump data` means you are trying to do a `dump` operation.  That will require read access to the bucket.  The rest of the message `AccessDenied: Access Denied` is coming from the `aws-sdk-go` package.

[2017-06-13 15:09] jamiesonio commented on #27
So [conventional](https://aws.amazon.com/blogs/security/writing-iam-policies-how-to-grant-access-to-an-amazon-s3-bucket/) s3 read/write permissioning for IAM does not seem to work in this case, I have managed to get this working with an instance role using the below IAM permissions. The issue that was encountered was that Backinator must have "s3:CreateBucket" permissions on the target s3 bucket o

[2017-06-13 16:05] leprechau commented on #27
@jamiesonio nice find.  I thought the code returned should be the `s3.ErrCodeBucketAlreadyExists` if it already existed which *should* mean that execution would continue.   Let me do some more investigation in my own instance.

[2017-06-13 17:54] #27 closed

[2017-06-13 17:56] leprechau commented on #27
@jamiesonio @mickengland This now makes sense.  Thank you for the policy dump - that really helped.  I'm no longer failing just because we don't have permission to create the bucket.  I can now successfully perform a backup operation using your above policy *WITHOUT* the `CreateBucket` permission.  Please re-open if the latest commit does not fix the issue.

[2017-06-13 18:56] leprechau commented on #27
@jamiesonio @mickengland confirmation would also be appreciated if you have the time.  Thank you again.

[2017-06-13 19:47] jamiesonio commented on #27
@leprechau - I have tested the latest with the below IAM policy and can confirm it is working as expected. Thank you very much for the fix.
[code]

[2017-06-13 19:48] leprechau commented on #27
@jamiesonio awesome, thank you!

[2017-08-28 19:53] Aamir010 opened #29 "docker: Error response from daemon: oci runtime error: container_linux.go"
Can anyone please help me to resolve this error.

docker: Error response from daemon: oci runtime error: container_linux.go:247: starting container process caused "exec: \"/usr/local/bin/consul-backinator backup -file=consul.bak\": stat /usr/local/bin/consul-backinator backup -file=consul.bak: no such file or directory"

[2017-08-28 20:04] leprechau commented on #29
Was this using the image from Docker hub?

[2017-08-28 20:15] leprechau commented on #29
Tests on my laptop pulling the latest image:

[code]

[2017-08-29 03:13] leprechau commented on #29
@Aamir010 This might also be related to these issues with Docker and systemd:

https://bugzilla.redhat.com/show_bug.cgi?id=1405131
https://github.com/moby/moby/issues/28109

Could you give more background on your platform?

[2017-08-29 04:33] Aamir010 commented on #29
Here's my Docker version.

Client:
 Version:      17.03.1-ce
 API version:  1.27
 Go version:   go1.7.5
 Git commit:   7392c3b/17.03.1-ce
 Built:        Tue May 30 17:59:44 2017
 OS/Arch:      linux/amd64

Server:
 Version:      17.03.1-ce
 API version:  1.27 (minimum version 1.12)
 Go version:   go1.7.5
 Git commit:   7392c3b/17.03.1-ce
 Built:        Tue May 30 17:59:44 2017
 OS/Arch:      linux

[2017-08-29 06:55] Aamir010 commented on #29
@leprechau Here is the steps we are performing.
 1. Create a Docker image from Dockerfile.
---------------
FROM myena/consul-backinator

ENTRYPOINT ["/usr/local/bin/consul-backinator backup -addr=10.0.1.50:8500 -file=s3://<my_access_key>:<my_secret_key>@<my_bucket_name>/consul_backup?region=us-west-2"]

2. Docker build -t aamir010/consul-backup .

3. docker run aamir010/consul-backup

And this wil

[2017-08-29 13:32] leprechau commented on #29
@Aamir010 that's a proper error message then.  That's not the proper format for the entrypoint setting.  You are trying to tell docker to execute a process called: `/usr/local/bin/consul-backinator backup -file=s3://<my_access_key>:<my_secret_key>@<my_bucket_name>/consul_backup?region=us-west-2` which obviously doesn't exist.  You either need to rebuild using the proper entry point format for a co

[2017-08-29 15:55] Aamir010 commented on #29
Thanks @leprechau  it works.

[2017-08-29 15:55] #29 closed

[2017-08-29 18:50] nanidvps opened #30 "error while backingup consuldata to S3"
did docker run myena/consul-backinator backup -addr=10.0.1.50:8500 -file=s3://"access key id":"secret access key"@s3-bucket name/consul_backup?region=us-west-2

i am getting failed to backup data : invalid bucket name : the specified bucket is not valid,

but my nucket name is correct, can someone help ?

[2017-08-29 18:59] leprechau commented on #30
The URI shouldn't contain spaces.  That includes the access key, secret and bucket name.  You also shouldn't need to quote the key/secret.  The standard access keys and secrets should not contain spaces and should be URL safe.

[2017-08-29 20:28] nanidvps commented on #30
i did docker run myena/consul-backinator backup -addr=10.0.1.50:8500 -file=s3://access key id:secretaccesskey@s3-bucket name/consul_backup?region=us-west-2

I am still getting invalid bucket name.

[2017-08-29 20:32] leprechau commented on #30
Are you using keys that have access to that bucket?  Can you access/write to that bucket using a standard S3 client and the same keys?

[2017-08-30 03:56] nanidvps commented on #30
yes, "aws s3 cp" works fine. The error message was 400 bad request.

docker run myena/consul-backinator backup -addr=10.0.1.50:8500 -file=s3://access key id:secretaccesskey@anilmytest/Backup?region=us-west-2
2017/08/30 03:48:45 [Error] Failed to backup key data: InvalidBucketName: The specified bucket is not valid.
	status code: 400, request id: 07FF4C8642197674, host id: qMWisB4qNbA6WqZZ8916Uhl95

[2017-08-30 14:06] leprechau commented on #30
@nanidvps Going to try and reproduce this today.  What version of the Docker image are you running?

[2017-08-30 14:32] leprechau commented on #30
@nanidvps Okay, I was able to reproduce this.  There appears to be a bug in the URI parsing.  You can workaround for the moment by passing them as environment variables instead of in the URI ... example:

[code]

I'll try and get the parsing fixed today.

[2017-08-30 16:26] #30 closed

[2017-08-30 16:29] leprechau commented on #30
@nanidvps Please try the `latest` tag after the automated build finishes and let me know if this works.

[2017-08-30 16:57] nanidvps commented on #30
Status: Downloaded newer image for myena/consul-backinator:latest
docker run myena/consul-backinator backup -addr=10.0.1.50:8500 -file=s3://access key id:secretaccesskey@anilmytest/Backup?region=us-west-2
[Error] Failed to backup key data: BucketAlreadyOwnedByYou: Your previous request to create the named bucket succeeded and you already own it.
	status code: 409, request id: 3F231DD26FB7B637, hos

[2017-08-30 16:59] leprechau commented on #30
That's a new one.  What do your ACLs look like for the key you are testing?  I haven't seen that with my ACLs.

[2017-08-30 17:28] leprechau commented on #30
Looks like this is affecting other go projects as well.

https://github.com/terraform-providers/terraform-provider-aws/issues/423

I'll do a bit more investigating.

[2017-08-30 17:28] leprechau commented on #30
@nanidvps Would you mind opening up another issue?

[2017-08-30 17:31] nanidvps opened #31 "error while backing up data to s3"
docker run myena/consul-backinator backup -addr=10.0.1.50:8500 -file=s3://access key id:secretaccesskey@anilmytest/Backup?region=us-west-2
[Error] Failed to backup key data: BucketAlreadyOwnedByYou: Your previous request to create the named bucket succeeded and you already own it.
status code: 409, request id: 3F231DD26FB7B637, host id: sQDegGUjvnzlT5YH7lcwZzLHmZPd1gNUBLKrB65VPKgiifX1rImHJPexGjwa/

[2017-08-30 17:34] leprechau commented on #30
Looks like it's documented in the newer SDK package versions:

https://github.com/aws/aws-sdk-go/blob/master/service/s3/api.go#L296

[2017-08-30 17:34] leprechau commented on #30
Opening a new issue to track this.

[2017-08-30 17:35] leprechau opened #32 "Failed to backup key data: BucketAlreadyOwnedByYou"
New non-fatal error code introduced in newer `aws-sdk-go` packages.  We shouldn't fail on this error.

[2017-08-30 17:37] leprechau commented on #32
Closing - duplicate of #31

[2017-08-30 17:37] #32 closed

[2017-08-30 17:38] leprechau commented on #31
This is an issue with a new return code from `CreateBucket` as outlined in #30 ... we shouldn't fail on this error.

[2017-08-30 17:41] #31 closed

[2017-08-30 17:42] leprechau commented on #31
@nanidvps Thank you for all the help.  Let me know if the new `latest` build fixes this once it finishes in Docker Hub: https://hub.docker.com/r/myena/consul-backinator/builds/

[2017-08-30 17:46] nanidvps commented on #30
working with the latest build, thanks

[2017-08-30 17:46] leprechau commented on #30
Thank you!

[2017-08-31 17:17] nanidvps opened #33 "ECS task throws 404 error"
Error trace .
----------------------------
{"line":"2017-08-31T17:06:19Z [WARN] Error with docker; stopping container module=\"TaskEngine\" task=\"ConsulBackup:3 arn:aws:ecs:us-west-2:776609208984:task/a03e35fe-2e1e-4a73-922a-e98f63a82b6f, Status: (CREATED-\u003eRUNNING) Containers: [ConsulBackup (RUNNING-\u003eRUNNING),]\" container=\"ConsulBackup(myena/consul-backinator:latest) (RUNNING-\u003eRU

[2017-08-31 17:39] leprechau commented on #33
What's your entry point?  This looks like a bad entrypoint or cmd definition to the container.

[2017-08-31 17:45] nanidvps commented on #33
i gave the CMD as " backup -addr=10.0.1.50:8500 -file=s3://access key id:secret access key@bakup-consul/consul_backup/?region=us-west-2"

[2017-08-31 17:50] leprechau commented on #33
Okay, that's the problem and why you are getting that error message.  It's trying to execute all of that as a single binary and can't find it.

Take a look at the `CMD` and `ENTRYPOINT` documentation ... specifically the array style.  You probably only want to specify `ENTRYPOINT` or `CMD` and not both.

[2017-08-31 18:00] nanidvps commented on #33
I am giving only the CMD as backup -addr=10.0.1.50:8500 -file=s3://access key id:secret access key@bakup-consul/consul_backup/?region=us-west-2 , is it correct format?

[2017-08-31 18:08] leprechau commented on #33
You could do this a few ways:

1) Leave the upstream container `ENTRYPOINT` and specify `CMD`
[code]

2) Do not specify an `ENTRYPOINT` (use the docker default) and specify `CMD`
[code]

3) Do not modify the`Dockerfile` and pass the arguments at runtime
[code]

[2017-08-31 18:10] leprechau commented on #33
This part of the documentation gives a good description:

https://docs.docker.com/engine/reference/builder/#understand-how-cmd-and-entrypoint-interact

[2017-08-31 18:47] nanidvps commented on #33
yeah, its working, thank you

[2017-08-31 18:47] #33 closed

[2017-09-01 05:29] leprechau commented on #33
This is the same issue and solution as reported in #29

[2017-09-04 20:06] nanidvps opened #34 "support for multiple address value (-add)"
Hello,

I am trying to pass an array of consul server but it gets failed, I think "-add" flag doesn't support array list.

[2017-09-05 16:47] leprechau commented on #34
Is there a reason to expect the `-addr` operation to support multiple hosts?  Currently the `-addr` option in consul-backinator works the same as the standard consul client `-http-addr` option and `CONSUL_HTTP_ADDR` environment variable.

[2017-09-05 16:52] #34 closed

[2017-09-20 11:50] ssala7 opened #35 "unable to debug the 5xx error"
Downloaded the container and run.
$ docker run myena/consul-backinator backup -addr consulhostname:8500  -dc consul-dc-01 -token xxxxx-xxxx-xxxx-xxxx -scheme http -file s3://mybucket-backup/consul

`[Error] Failed to backup key data: Unexpected response code: 500`

[2017-11-02 21:36] michaelgrosstarget opened #36 "Unable to restore queries"
Hello,

I'm able to successfully backup kvs/acls/queries but when I try to restore it seems to only restore the kvs and acls (ignoring the queries).

consul-backinator v1.6.2
consul v0.9.3

[code]

And if I try specifying only the queries to backup and restore, I'm able to successfully back them up but get an error regarding my command flags when trying to restore.
[code]

Am I missing something i

[2017-11-02 21:38] leprechau commented on #36
Good question, let me take a look.

[2017-11-02 21:45] leprechau commented on #36
You're absolutely right, I added query backup but never put in the hook for the restore command even though I built a `restoreQueries` function.  I've fixed this locally and will push it upstream shortly.

[2017-11-02 22:12] michaelgrosstarget commented on #36
Thanks Aaron. Appreciate the quick response.

[2017-11-02 22:32] #36 closed

[2017-11-02 22:32] leprechau commented on #36
@michaelgrosstarget let me know if that fixes the issue ... feel free to reopen if it does not.

[2017-11-02 22:53] leprechau commented on #36
I can also roll an intermediate release if you need a binary to download.

[2017-11-03 03:50] michaelgrosstarget commented on #36
Works great - thanks again Aaron!

[2017-11-03 04:50] michaelgrosstarget opened #37 "'dump' errors when dumping acl or query backups."
Hello,

Got another one (this one might be a little more complicated) - I've built the binary using the latest code (although this happens with 1.6.2 release as well).  'dump' seems to only work for KVs and not acls or queries.  Consul is on version 0.9.3.

I perform a backup using the following:
[code]

Then dump the KVs (which works as expected)
[code]

Dumping acls complains that consul.bak doe

[2017-11-03 12:13] leprechau commented on #37
I’m sure that’s correct.  I added the dump option as a feature request for KVs before I supported ACLs or prepared queries.  I’ll take a look today and try to fix that.

[2017-11-03 13:58] michaelgrosstarget commented on #37
Thanks!  It's less critical for us but a nice to have.  Btw - awesome product, we continue to choose it over consul snapshot due to the built-in encryption and ability to restore partial kv trees.  Great work!

[2017-11-03 14:09] leprechau commented on #37
Thank you.  Yes, we take regular snapshots for total disaster recovery but still use this tool for moving KVs between hosts and doing partial restores when someone fat fingers something :) ...

So, I think it works as designed it's just not every clear and I probably need to fix the way it works.  The `-acls` and `-queries` options are just bool flags and don't actually take input.  To dump a file

[2017-11-03 14:34] michaelgrosstarget commented on #37
Yep, that's exactly it - syntax error :-)  Carefully reading the documentation I get it now, I had previously skimmed it assuming it was the same as backup/restore (also explains why the -nokv option isn't  relevant in the dump context).  The below worked for me.  Thanks again for all your help!

[code]

[2017-11-03 14:34] #37 closed

[2017-11-03 14:53] leprechau commented on #37
Not a perfect fix but at least it's presenting an error if it doesn't recognize the syntax now.

Errors on unhandled arguments
[code]

Still works when passed:
[code]

[2017-11-03 14:58] leprechau commented on #35
@ssala7 Sorry for the super delayed response.  Still having trouble debugging the error?  There have been requests before to add a more verbose debugging option but I haven't yet had time to implement that.

[2017-12-14 18:29] anil-aws opened #38 "rpc error permission denied while restoring keys to consul"
i am trying to restore keys to consul using

docker run myena/consul-backinator restore -addr=<consul ip>:8500 -file=s3://access key id:secret id@consul-bakup/stage-consul/2017-12-13_09:00_consul.bak?region=us-west-2

and i am getting error: rpc error permission denied

[2017-12-14 18:45] leprechau commented on #38
That error would be coming from the destination consul cluster.  Can you look at a `consul monitor -log-level=debug` while attempting the restore?

[2017-12-14 18:57] leprechau commented on #38
Do you have ACLs enabled on the destination?

[2017-12-14 18:58] anil-aws commented on #38
yes, we do have ACL's enabled on the destination

[2017-12-14 18:58] leprechau commented on #35
Closing due to inactivity.  Please feel free to reopen if needed.  Again, sorry about the initial delay in responding.

[2017-12-14 18:58] #35 closed

[2017-12-14 18:59] leprechau commented on #38
You will need to pass an access token:

[code]

[2017-12-14 19:01] anil-aws commented on #38
do i need to do this
docker run myena/consul-backinator restore -addr=:8500 -- token=<> --file=s3://access key id:secret id@consul-bakup/stage-consul/2017-12-13_09:00_consul.bak?region=us-west-2

Regards

[2017-12-14 19:02] anil-aws commented on #38
okie got it thanks alot!

[2017-12-14 19:02] #38 closed

[2017-12-14 19:03] leprechau commented on #38
Np, you can also set it in an environment variable using `CONSUL_HTTP_TOKEN`

[2017-12-16 02:32] nani-ar opened #39 "Failed to backup ACL tokens: Unexpected response code: 403 (Permission denied)"
hello, i am trying to backup ACLS without key value and i got the permission denied error, could you please help me with this

docker run myena/consul-backinator backup -nokv -acls -token=<consul master token> -addr=10.18.1.82:8500 -file=s3://key id:secret@consul-bakup/backup-consul/$(date +%F_%R)_consul.bak?region=us-west-2

i run the same command without -nokv and -acls and it backed up keys but

[2017-12-16 03:09] leprechau commented on #39
The documentation may not be clear but the `-acls` option expects a filename.  The exact command to backup just the ACLs (without keys) to an S3 location would be something like this:

[code]

[2017-12-16 03:16] nani-ar commented on #39
worked, thanks for your quick response!

[2017-12-16 03:16] #39 closed

[2017-12-16 03:21] leprechau commented on #39
Glad it worked, hope you enjoy the tool.

[2018-02-27 19:12] schoure opened #40 "Add a frequency/interval option"
Hi,
Is there a way that a frequency/interval option can be added? I am looking to run this in Docker on 10 min intervals.

[2018-02-27 19:19] schoure commented on #40
Found the restart delay option. Closing the issue

[2018-02-27 19:19] #40 closed

[2018-02-27 19:44] leprechau commented on #40
@schoure There is also a nomad file in the project for that purpose.

[2018-03-07 10:31] Sispheor opened #41 "[Discution] How to schedulle this a Docker orchestration manager like Swarm or K8s?"
Hi,

Thanks for your job. I just tried it from a standalone container and it work perfectly.

I would like to integrate it to my docker compose. As cron jobs are [not yet](https://github.com/moby/moby/issues/23880) implemented in Swarm, I would like to know if there is a best practice for this?

Should I:
- Wrap your image with a crontab based container?
- Wrap your image with a [scheduler script]

[2018-03-07 14:22] Sispheor commented on #41
This is what I finally use

[code]

Example content of `consul_backup_crontab` file.
[code]

[2018-03-07 14:22] #41 closed

[2018-03-07 15:19] Sispheor commented on #41
You are right, the final image size is now 37 MB.

Here is the docker file
[code]

and cronfile
[code]

[2018-07-03 18:31] mitchellmaler opened #43 "Minio Support"
Hello, I am trying to get this to work using Minio as the S3 backend but when I provide all the connection information I am getting an error. I have other things using this minio cluster which is working fine so it makes me think that there is either an issue with the s3 library or my connection string.

[code]

Here is my s3 file connection string.
[code]

[2018-07-03 18:44] leprechau commented on #43
The `endpoint` parameter is just a host and port.  Try something like ...

[code]

That will attempt an HTTP based connection to `minio.endpoint.com` on port 80.  If you're minio instance uses a different port you will need to specify it in the endpoint parameter.

[2018-07-03 18:56] mitchellmaler commented on #43
I just tried it without the http:// and with secure=fase and I am still getting the same issue. It seems to still be trying an https/443 connection

[code]

I can see it is returning the error below which has
[code]

I also tried specifying port 80 and it still tried the https protocol.
[code]

[2018-07-03 19:08] leprechau commented on #43
So, I think I picked a really bad name for that parameter when reading the code:

https://github.com/myENA/consul-backinator/blob/master/common/s3util.go#L105-L113

That will disable ssl/https if `secure` is set to `true` ... that's probably the exact opposite intent.  I'll make a change to switch that logic.

[2018-07-03 19:12] #43 closed

[2018-07-03 19:13] leprechau commented on #43
Please test the latest master branch and let me know if this corrects the behavior.

[2018-07-03 19:15] leprechau commented on #43
I can also roll a new release if needed.

[2018-07-03 19:21] mitchellmaler commented on #43
Ah that makes more sense! yea it defiantly is a bit confusing. I looked at the code and just checking for false looks good but I am not sure if that is my underlying issue.

It is now using http and port 80 but I am still getting the error. Looking at it a bit closely it seems to be trying to hit the DNS of http://consul-backups.minio.endpoint.com/ on that IP address. Right now our minio server do

[2018-07-03 19:22] leprechau commented on #43
That could be it as well, I can add a path style option as well.

[2018-07-03 20:04] leprechau commented on #43
Done, v1.6.5 contains this fix and the pathstyle addition.

[2018-07-03 20:09] mitchellmaler commented on #43
@leprechau That fixed it! Thanks for the quick help!

[2018-07-03 20:10] leprechau commented on #43
Np, thank you!

[2018-08-08 08:46] kodi1981 opened #44 "panic: standard_init_linux.go:178: exec user process caused "no such file or directory""
We are getting this error with consul:1.2.1 docker consul & backinator 1.6.5

panic: standard_init_linux.go:178: exec user process caused "no such file or directory" [recovered]
	panic: standard_init_linux.go:178: exec user process caused "no such file or directory"

goroutine 1 [running, locked to thread]:
github.com/urfave/cli.HandleAction.func1(0xc4200a17a0)
	/builddir/build/BUILD/docker-ec8512

[2018-08-08 11:58] leprechau commented on #44
This error is coming from Docker not consul-backinator.  Have you modified the Dockerfile or changed the entrypoint and/or command for the published image?

[2018-08-10 06:34] kodi1981 commented on #44
Thanks let me check my entrypoint.

[2018-09-17 15:29] leprechau commented on #44
Closing due to inactivity.  Please feel free to re-open if this is still an issue.

[2018-09-17 15:29] #44 closed

[2019-08-19 18:39] the-maldridge opened #45 "Tries to CreateBucket on an existing bucket."
I have a policy which allows the PutObject permission to the specific bucket where I store my backups.  I am running version 1.6.5 and observe in my cloudtrail logs that backinator is trying to create the bucket; this fails for hopefully obvious reasons.

At this point I'm out of things to troubleshoot as by all rights this should work, and some months ago it did (I'm sure something changed since

[2019-08-19 18:45] leprechau commented on #45
You are correct.

https://github.com/myENA/consul-backinator/blob/master/common/writeS3.go#L37-L51

That shouldn't prevent the application from progressing though.  What exact error is being thrown?

[2019-08-19 18:49] the-maldridge commented on #45
Upon further inspection, our backups are being made correctly, we just were thrown by the continuous errors in cloudtrail.  Closing this out.

[2019-08-19 18:49] #45 closed

[2021-04-01 14:48] bygui86 opened #47 "Release archive extract from Dockerfile does not work"
Hi guys

I tried to add consul-backinator to a custom Docker image I'm building.

Here the Dockerfile

[code]

I have no idea why, but running the command `tar -zxf consul-backinator-1.6.6-amd64-linux.tar.gz` gives me this error:
[code]

I tried with zip archive
[code]

but more or less the message is the same (command `unzip consul-backinator-1.6.6-amd64-linux.zip`):
[code]

I tried to download a

[2021-04-01 15:44] aaronhurt commented on #47
Downloaded locally `file` looks good:
[code]

My SHA256 sums also match, can you check yours?
[code]

The files also extract fine locally. What utillity are you using inside your image?
[code]

[2021-04-01 15:58] bygui86 commented on #47
Here the command to download (both locally and inside Dockerfile):
`curl -O https://github.com/myENA/consul-backinator/releases/download/v1.6.6/consul-backinator-1.6.6-amd64-linux.tar.gz`

Here the command to extract the archive (both locally and inside Dockerfile):
`tar tzvf consul-backinator-1.6.6-amd64-linux.tar.gz`

Here the output from `tar tzvf consul-backinator-1.6.6-amd64-linux.tar.gz`:
[c

[2021-04-01 16:05] aaronhurt commented on #47
Ahh, I see. It's how GitHub does downloads. They do a redirect. Sorry I didn't catch that before.

[code]
[code]
Use the `-L` flag to curl so it will follow redirects:
[code]

[2021-04-01 19:41] aaronhurt commented on #47
@bygui86 Going to close this issue. Let me know if the above solution doesn't resolve the issue.

[2021-04-01 19:41] #47 closed, assigned to nobody

[2021-04-03 16:07] bygui86 commented on #47
@leprechau thanks a lot for that! Yeah the issue is solved!
I was not considering the redirect!! So stupid :(

[2021-12-09 22:55] cherishedbrain opened #48 "Consul backinator doesn't work with k8s service account with s3 permissions"
Hi Team,

I have tried running consul-backinator to take the backup on S3 via k8s service account having enough IAM roles to perform consul backup directly to S3 bucket but it doesn't work.

S3 Policy has below:
                "s3:GetObject",
                "s3:DeleteObjectVersion",
                "s3:AbortMultipartUpload",
                "s3:DeleteObject",
                "s3:PutObject"

Howe

[2022-03-07 18:28] boarder981 opened #49 "consul-backinator does not backup ACL tokens in Consul 1.4+"
Hello,

Consul 1.4 introduced a [new ACL system](https://www.consul.io/docs/upgrading/upgrade-specific#acl-upgrade) where a token's permissions are tied to a policy (or multiple policies), rather than being baked into the token itself.  I just recently upgraded my Consul cluster from version 1.3.1 to 1.4.5.  After upgrade, all pre-existing non-management tokens were in "legacy" mode.  At this poin

[2022-07-27 16:08] otterblitzar commented on #49
The code currently uses deprecated Consul API calls that only work with the legacy ACL system. For example:

https://github.com/myENA/consul-backinator/blob/d8759e6cad3746555539de76373bf1bb82d6923f/command/backup/backup.go#L69-L72

The fix would be to migrate to the new API calls. For example, replace `ACL.List` with `ACL.TokenList`. See:
https://pkg.go.dev/github.com/hashicorp/consul/api#ACL.List

[2022-07-27 16:12] aaronhurt commented on #49
That sounds reasonable. The ACL code hasn't been touched in quite some time (6 years ago according to git-blame).

[2022-07-27 22:12] otterblitzar commented on #49
I've made some progress on this, but ran into an interesting problem. It's not possible to restore ACL tokens in Consul 1.4.x because the Consul API does not support setting the AccessorID and SecretID properties. These are available in Consul 1.5, however, so it's only a problem for people still running 1.4.

See https://www.consul.io/api-docs/acl/tokens for details.

[2022-07-28 00:32] aaronhurt commented on #49
The last 1.4.x release was in 2019, I think that's acceptable. Just add a note somewhere in the README that ACL functionality for consul versions >= 1.4.x require backinator <= 1.6.6 and that consul 1.5.x+ is required for the latest codebase for full functionality. Something like that.

[2022-07-29 19:24] cherishedbrain commented on #49
I believe the issue I raised is also related. #48